<!DOCTYPE html>

<html>
	<header>
		<title>ATM</title>
	</header>
		
	<body>
		<h1>ATM</h1>
		<h3>Your balance is: {{balance}}</h3>
		<h5>{{msg}}</h5>

		<form method="POST" id="atm" action="{{url_for('index')}}">
			Amount: <input type="number" required name="amount"/>
			<input type="submit" name="action" value="Withdraw" onclick = "return validateForm(this)">
		
			<input type="submit" name="action" value="Deposit" onclick = "return validateForm(this)">
		</form> 

		<script>
			
		</script>
	</body>
</html>
